$rowPad: .7rem;


.hiOrange {
  background-color: #fcd19f;
}
.hiBlue {
  background-color: #9fa3fc;
}
.hiLtOrange {
  background-color: #ffebd3;
}
.hiLtBlue {
  background-color: #d3d5fc;
}
.hiLtGreen {
  background-color: #d3fcd3;
}
.hiLtRed{
  background-color: #fcd3d3;
}
.hiLtYellow{
  background-color: #fcfad3;
}

.topSpace {
  height: 20px;
}

.rolesHi {
  background-color: #FFD;
}

.editHi {
  background-color: #FDF;
}

.rolesTitle {
  color: #999;
  margin-left: -15px;
}

i.myIcon {
  vertical-align: middle;
  font-size: 30px;
  margin-right: 30px;
  margin-left: 20px;
  margin-top: -5px;
}
